[Unit]
Description=Eye Service
Documentation=https://github.com/kostya/eye

[Service]
Type=oneshot
User={{ eye_user }}
Group={{ eye_user }}
ExecStart=/bin/bash -c "source /etc/profile.d/rvm.sh && eye load {{ eye_home }}/apps.eye"
RemainAfterExit=True
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
